.main-chat
  .main-chat__group-info
    .main-chat__group__box
      .main-chat__group-info__box__group-name
        testGroup
      %ul.main-chat__group-info__box__member
        Member：
        %li
          masa
        %li
          masa
        %li
          masa
    = link_to "./groups/1/edit", class: "" do
      .main-chat__group-info--edit
        Edit
  .main-chat__message-list
    .main-chat__message-list__box
      .main-chat__message-list__box__username
        masa
      .main-chat__message-list__box__date
        2020/7/6(Mon) 09:24:00
      .main-chat__message-list__box__text
        おはよう！
    .main-chat__message-list__box
      .main-chat__message-list__box__username
        masa
      .main-chat__message-list__box__date
        2020/7/6(Mon) 09:24:00
      .main-chat__message-list__box__text
        おはよう！
    .main-chat__message-list__box
      .main-chat__message-list__box__username
        masa
      .main-chat__message-list__box__date
        2020/7/6(Mon) 09:24:00
      .main-chat__message-list__box__text
        おはよう！
  .main-chat__message-form
    .form
      %form{class: "form__box"}
        .input__box
          %input{type: "text", placeholder: "type a message", class: "input__box__text"}
          %label.input__box__image
            = icon('fas', 'image fa-lg')
            %input{type: "file", class: "input__box__image__select"}
        %input{type: "submit", value: "Send", class: "input__box__submit"}
